@model IEnumerable<RentACarWebSite.Models.Marka>

<a asp-controller="Cars" asp-action="Index" asp-route-id=0>Tüm arabalar</a>
@foreach (var item in Model)
{

    <a asp-controller="Cars" asp-action="Index" asp-route-id="@item.MarkaId">@item.MarkaName</a>
    <br />
}